.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

code {
  font-family: 'Fira Code', monospace;
  font-feature-settings: 'calt' 1; /* Enable ligatures for IE 10+, Edge */
  text-rendering: optimizeLegibility; /* Force ligatures for Webkit, Blink, Gecko */
  white-space: pre-wrap;
  word-break: break-all;
}
code.oneLine {
  background: #61dafbf0;
  padding: 0 5px;
  border-radius: 5px;
}
