code {
  font-family: "Fira Code", monospace;
  font-feature-settings: "calt" 1; /* Enable ligatures for IE 10+, Edge */
  text-rendering: optimizeLegibility; /* Force ligatures for Webkit, Blink, Gecko */
  white-space: pre-wrap;
  word-break: break-all;
}
code.oneLine {
  background: #61dafbf0;
  padding: 0 5px;
  border-radius: 5px;
  font-weight: 450;
  font-style: normal;
}
